---
title: "{{shuttle_name}}"
weight: 50
description: {{project_count}} designs, closed {{end_date}}
---

{{#hugo}}% toc %{{/hugo}}

# Design details

* [Github repository](https://github.com/TinyTapeout/tinytapeout-06)
* [PDF datasheet](https://tinytapeout.github.io/tinytapeout-06/datasheet.pdf)
* [Efabless MPW submission](https://repositories.efabless.com/urish/tinytapeout-06)
* [Shuttle index (JSON)](https://tinytapeout.github.io/tinytapeout-06/shuttle_index.json)

# Launch stats

* Launched: 30 January 2024
* Submission closed: 19 April 2024
* Submitted to Efabless [2404C chipIgnite](https://efabless.com/shuttle-status) shuttle using Skywater 130nm open source PDK
* Chips expected October 2024, PCBs expected December 2024

# Chip map

{{#hugo}}< shuttle-map "{{shuttle_id}}" >{{/hugo}}

