---
title: "{{shuttle_name}}"
weight: 50
description: {{project_count}} designs, closed {{end_date}}
---

{{#hugo}}% toc %{{/hugo}}

# Design details

* [Github repository](https://github.com/TinyTapeout/tinytapeout-07)
* [PDF datasheet](https://tinytapeout.github.io/tinytapeout-07/datasheet.pdf)
* [Efabless MPW submission](https://repositories.efabless.com/urish/tinytapeout-07)
* [Shuttle index (JSON)](https://tinytapeout.github.io/tinytapeout-07/shuttle_index.json)

# Launch stats

* Launched: 22 April 2024
* Submission closed: 1 June 2024
* Submitted to Efabless [2406C chipIgnite](https://efabless.com/shuttle-status) shuttle using Skywater 130nm open source PDK
* Chips expected November 2024, PCBs expected December 2024

# Chip map

{{#hugo}}< shuttle-map "{shuttle_id}" >{{/hugo}}

